@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;900&display=swap');
html{
    width: 100%;
}
body {
   height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(233,232,228),rgb(244,243,236));
}


.container::before{

      content: "";
      background-image: url(img/Image_1.jpg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.2;



}

.content{
    position: relative;
}


.no-padding{
    margin:0!important;
    padding:0!important;
}

.container {
    width: 350px;
    height: 100%;
    border-radius: 20px;
    margin-top: 50px;
    background-color: #212932;
    overflow: hidden;
    box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: relative;
}

.image{
    width: 200px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;

}
.frm-section{
    background: #19202ca6;
    padding: 40px 15px 15px 10px;
    border-radius: 12px;
    z-index: 5;
    margin-bottom: 30px;
    
}
#hide1{
    display: none;
}
.cstm-btn{
    width: 100%;
    background-color: #FEFF00;
    color: #262E36;
    border: 1px solid #5C636F;
    font-weight: 700;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.ftext{
    color: #5C636F;
    text-align: center;
    font-size: 15px;
}
.field{
    background-color: #19202C;
    border-color: #FFB200;
    border-radius: 12px;
    position: relative;
    padding: 25px 10px;
}
.eye{
    position: absolute;
    top: 115px;
    left: 250px;
    width: 35px;
}

.ftext1{
    margin-top: -15px;
}
.ftext2{
    margin-top: -18px;
}
.toogle{
    
    margin-top: 5px;
}
.icon-text{
    color: #5C636F;
}






.switch {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3c0b0b00;
    -webkit-transition: .4s;
    transition: .4s;
    border: 4px solid #E1C923;
    border-style: double;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: -1px;
    bottom: -1px;
    background-color: #F4D78F;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
  background-color: #E1C923;
}

input:focus + .slider {
  box-shadow: 0 0 1px #E1C923;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}


.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 55%;
}

@media (min-width: 278px) and (max-width:285px){
.eye {
    position: absolute;
    top: 115px;
    left: 190px;
    width: 35px;
}
.icon-text {
    color: #5C636F;
    font-size: 12px;
    margin-left: 14px;

}
.toogle {
    margin-top: 2px;
}
}
@media (min-width: 318px) and (max-width:330px){
    .eye {
    position: absolute;
    top: 115px;
    left: 225px;
    width: 35px;
}
.icon-text {
    color: #5C636F;
    font-size: 13px;
    margin-left: 8px;
}
.toogle {
    margin-top: 3px;
}
}